// dark teal: #005555
// light teal: #049696

html,
body {
  font-size: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: #f9e7bc;
  color: #552f00;
}

body {
  background-image: url("assets/bg.jpeg");
  background-repeat: repeat;
  padding: 15px 10px;
}

.error {
  font-weight: 600;
  color: #049696;
}

.wrapper {
  margin: 0 auto;
  max-width: 768px;

  &--search {
    width: 80%;
  }

  &--results {
    width: 90%;
    position: relative;
  }

  &--thread {
    width: 96%;
    position: relative;
  }
}

.title {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant: small-caps;
  text-shadow: 0px 0px 1px #552f00;
  color: #005555;
  font-size: 2rem;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0;
  width: 100%;

  &--outer {
    padding: 10px 2.5% 0;
    width: 95%;
  }
}

.list-item {
  font-size: 0;

  &--outer {
    & label {
      padding: 0 0 10px;
      width: 57%;
    }

    & input {
      position: relative;
      top: 2px;
    }
  }
  &--inner {
    text-indent: 0.5rem;
    padding: 0 0 10px;

    & label {
      padding: 0;
      width: 55%;
    }

    & input {
      position: relative;
      top: 0;
    }
  }
}

.search {
  &__form {
    font-size: 0;
    display: inline-block;
    width: 100%;
  }

  &__details {
    font-size: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  &__summary {
    color: #552f00;
    background-color: rgba(249, 231, 188, 0.6);
    border: 2px solid #b39b64;
    font-size: 1.125rem;
    margin: 0 0 10px;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    &:focus,
    &:active,
    &[type="text"]:focus,
    &[type="text"]:active {
      border: 2px solid #b39b64;
      outline-width: 0;
      outline: none;
    }
  }

  &__fieldset {
    border: 2px solid #b39b64;
    display: inline-block;
    padding: 0;
    font-size: 0;
    text-align: left;
    margin: 0 0 15px;
    width: 100%;
  }

  &__legend {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 0 5px;
    padding: 5px 10px;
    border: 2px double #b39b64;
    background-color: rgba(249, 231, 188, 0.6);
  }

  &__label {
    font-size: 1.125rem;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;

    &--checkbox {
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: serif;
    color: #552f00;
    border-radius: 2px;
    border: 2px solid #552f00;
    background-color: rgba(255, 249, 236, 0.75);

    &:focus,
    &:active,
    &[type="text"]:focus,
    &[type="text"]:active {
      color: #005555;
      border: 2px solid #552f00;
      box-shadow: 0 0 5px rgb(4 150 150);
      outline-width: 0;
      outline: none;
    }

    &--checkbox {
      width: auto;
      margin: 0 5px;
      border-radius: 0;
    }
  }

  &__button-container {
    text-align: center;
  }

  &__button {
    width: 100%;
    margin: 0 auto;
    font-size: 1.375rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 2px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    text-shadow: 0px 0px 1px #552f00;
    color: #005555;
    background-color: rgba(249, 231, 188, 0.6);
    border: 2px solid #b39b64;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-color: #049696;
      color: #005555;
      background-color: rgba(255, 233, 180, 0.75);
      box-shadow: 0 0 5px rgb(4 150 150);
      outline-width: 0;
      outline: none;
    }
  }
}

.results-sort {
  &__container {
    padding: 10px;
    font-size: 0;
    text-align: center;
  }

  &__title-container {
    display: block;
    width: 100%;
    font-size: 0;
    padding-bottom: 10px;
    float: left;
  }

  &__title {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
  }

  &__form[data-sort="newest"] > &__button--newest,
  &__form[data-sort="oldest"] > &__button--oldest {
    border-color: #005555;
  }

  &__button {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    text-shadow: 0px 0px 1px #552f00;
    color: #005555;
    background-color: rgba(249, 231, 188, 0.6);
    border: 2px solid #b39b64;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-color: #049696;
      color: #005555;
      background-color: rgba(255, 233, 180, 0.75);
      box-shadow: 0 0 5px rgb(4 150 150);
      outline-width: 0;
      outline: none;
    }

    &--newest {
      margin-right: 10px;
    }
  }
}

.result-card {
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 249, 234, 0.75);
  border: 1px solid #b39b64;
  border-radius: 2px;
  font-size: 0;
  box-shadow: 2px 2px 4px 0px rgb(119, 106, 74, 0.5);

  &__link {
    text-decoration: none;
    color: #552f00;

    &:hover,
    &:active,
    &:focus {
      color: #049696;
      text-decoration: underline;

      & h2,
      & p {
        color: #049696;
      }
    }
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 10px;
    text-decoration: underline;
  }

  &__reply {
    color: #005555;
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0 0 5px;
  }

  &__date {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__author {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 5px 0 0;
  }

  &__preview {
    font-size: 1rem;
    margin: 0;
  }

  &__content,
  &__aside {
    vertical-align: top;
  }

  &__content {
    display: inline-block;
    width: 60%;
  }

  &__aside {
    display: inline-block;
    width: 38.75%;
    text-align: right;
  }
}

.back-to-top {
  &__wrapper {
    text-align: right;
    position: absolute;
    top: 100vh;
    right: -1rem;
    bottom: 0;
    pointer-events: none;
  }
  &__button {
    cursor: pointer;
    padding: 3px 7px;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 2px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    text-shadow: 0px 0px 2px #552f00;
    color: #005555;
    background-color: rgba(249, 231, 188, 0.8);
    border: 2px solid #005555;
    text-decoration: none;

    // `fixed` is fallback when `sticky` not supported
    position: fixed;
    // preferred positioning, requires prefixing for most support, and not supported on Safari
    // @link https://caniuse.com/#search=position%3A%20sticky
    position: sticky;
    // reinstate clicks
    pointer-events: all;
    // achieves desired positioning within the viewport
    // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
    top: calc(100vh - 4.5rem);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-color: #049696;
      color: #005555;
      background-color: rgba(255, 233, 180, 0.9);
      box-shadow: 0 0 5px rgb(4 150 150);
      outline-width: 0;
      outline: none;
    }
  }
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.thread-post {
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 249, 234, 0.75);
  border: 1px solid #b39b64;
  border-radius: 2px;
  font-size: 0;
  box-shadow: 2px 2px 4px 0px rgb(119, 106, 74, 0.5);

  .thread-post a {
    text-decoration: none;
    color: #552f00;

    &:hover,
    &:active,
    &:focus {
      color: #049696;
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #b39b64;
  }

  &__aside {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #b39b64;
    padding: 10px 0;
  }

  &__author {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    float: none;
    padding: 0;
    margin: 0 0 5px;

    &-name,
    &-byline,
    &-join-date {
      margin: 0;
      padding: 0;
    }

    &-name {
      padding-left: 10px;
      font-weight: 600;
      color: #005555;
    }
  }

  &__date {
    font-size: 1rem;
    font-weight: 500;
    width: 45%;
    float: none;
    padding: 0 0 0 10px;
  }

  &__content {
    display: inline-block;
    width: 100%;

    &-text {
      font-size: 1.125rem;
      padding: 10px;
      border-bottom: 1px solid #b39b64;
    }
  }

  &__signature {
    font-size: 1.125rem;
    padding: 10px;
    overflow: hidden;

    & img {
      max-width: 100%;
    }
  }
}

.footer {
  text-align: center;

  &__pagination {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
  }

  &__button {
    display: inline-block;
    text-decoration: none;
    font-size: 1.375rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 2px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    text-shadow: 0px 0px 1px #552f00;
    color: #005555;
    background-color: rgba(249, 231, 188, 0.6);
    border: 2px solid #b39b64;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-color: #049696;
      color: #005555;
      background-color: rgba(255, 233, 180, 0.75);
      box-shadow: 0 0 5px rgb(4 150 150);
      outline-width: 0;
      outline: none;
    }
  }
}

@media screen and (min-width: 480px) {
  .result-card {
    &__content {
      width: 65%;
    }
    &__aside {
      width: 34%;
    }
  }
}

@media screen and (min-width: 640px) {
  .search {
    &__button {
      width: 320px;
    }
    &__fieldset {
      width: 72%;
    }
  }

  .back-to-top {
    &__wrapper {
      right: -2rem;
    }
  }

  .list-item {
    &--outer {
      & label {
        width: 91.5%;
      }
    }
    &--inner {
      & label {
        width: 90%;
      }
    }
  }
  .results-sort {
    &__container {
      text-align: right;
      padding: 10px 0;
    }

    &__title-container {
      width: 70%;
      height: 2.75rem;
      overflow: hidden;
      padding: 0;
    }

    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 928px) {
  .title {
    font-size: 3rem;
  }
  .search {
    &__fieldset {
      width: 48.75%;
      vertical-align: top;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .back-to-top {
    &__wrapper {
      right: -4.25rem;
    }
  }

  .result-card {
    &__content {
      width: 70%;
    }
    &__aside {
      width: 29.25%;
    }
  }

  .list-item {
    &--outer {
      & label {
        width: 92%;
      }
    }
    &--inner {
      & label {
        width: 90%;
      }
    }
  }

  .thread-post {
    &__author {
      width: 59%;
      float: right;
      text-align: right;
      padding-right: 10px;
      font-size: 1.125rem;
      margin: 0;

      &-name,
      &-byline,
      &-join-date {
        margin: 0;
        padding: 0;
      }
    }
    &__date {
      width: 35%;
      float: left;
      padding-left: 10px;
      font-size: 1.125rem;
    }
  }
}
