html,
body {
  font-size: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: #f9e7bc;
  color: #552f00;
}

body {
  background-image: url("assets/bg.jpeg");
  background-repeat: repeat;
  padding: 15px 10px;
}

.error {
  font-weight: 600;
  color: #049696;
}

.wrapper {
  margin: 0 auto;
  max-width: 768px;
}
.wrapper--search {
  width: 80%;
}
.wrapper--results {
  width: 90%;
}
.wrapper--thread {
  width: 96%;
}

.title {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant: small-caps;
  text-shadow: 0px 0px 1px #552f00;
  color: #005555;
  font-size: 2rem;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0;
  width: 100%;
}

.search__form {
  font-size: 0;
  display: inline-block;
  width: 100%;
}
.search__details {
  font-size: 0;
  display: inline-block;
  width: 100%;
}
.search__summary {
  color: #552f00;
  background-color: rgba(249, 231, 188, 0.6);
  border: 2px solid #b39b64;
  font-size: 1.125rem;
  margin: 0 0 10px;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
}
.search__summary:hover, .search__summary:focus, .search__summary:active {
  text-decoration: underline;
}
.search__fieldset {
  border: 2px solid #b39b64;
  display: inline-block;
  padding: 0;
  font-size: 0;
  margin: 0 0 15px;
  width: 100%;
}
.search__legend {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.search__label {
  font-size: 1.125rem;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
}
.search__label--checkbox {
  margin: 0;
  border: 1px solid blue;
  width: 50%;
}
.search__input {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: serif;
  color: #552f00;
  border-radius: 2px;
  border: 2px solid #552f00;
  background-color: rgba(255, 249, 236, 0.75);
}
.search__input--checkbox {
  width: auto;
}
.search__button-container {
  text-align: center;
}
.search__button {
  width: 100%;
  margin: 0 auto;
  font-size: 1.375rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 2px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant: small-caps;
  text-shadow: 0px 0px 1px #552f00;
  color: #005555;
  background-color: rgba(249, 231, 188, 0.6);
  border: 2px solid #b39b64;
  cursor: pointer;
}
.search__button:hover, .search__button:active, .search__button:focus {
  text-decoration: none;
  border-color: #049696;
  color: #005555;
  background-color: rgba(255, 233, 180, 0.75);
}

.results-title {
  font-size: 1.25rem;
}

.result-card {
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 249, 234, 0.75);
  border: 1px solid #b39b64;
  border-radius: 2px;
  font-size: 0;
  box-shadow: 2px 2px 4px 0px rgba(119, 106, 74, 0.5);
}
.result-card__link {
  text-decoration: none;
  color: #552f00;
}
.result-card__link:hover, .result-card__link:active, .result-card__link:focus {
  color: #049696;
  text-decoration: underline;
}
.result-card__link:hover h2, .result-card__link:hover p, .result-card__link:active h2, .result-card__link:active p, .result-card__link:focus h2, .result-card__link:focus p {
  color: #049696;
}
.result-card__title {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0 10px;
  text-decoration: underline;
}
.result-card__reply {
  color: #005555;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 0 5px;
}
.result-card__date {
  font-size: 1.125rem;
  font-weight: 500;
}
.result-card__author {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 5px 0 0;
}
.result-card__preview {
  font-size: 1rem;
  margin: 0;
}
.result-card__content, .result-card__aside {
  vertical-align: top;
}
.result-card__content {
  display: inline-block;
  width: 60%;
}
.result-card__aside {
  display: inline-block;
  width: 38.75%;
  text-align: right;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.thread-post {
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 249, 234, 0.75);
  border: 1px solid #b39b64;
  border-radius: 2px;
  font-size: 0;
  box-shadow: 2px 2px 4px 0px rgba(119, 106, 74, 0.5);
}
.thread-post .thread-post a {
  text-decoration: none;
  color: #552f00;
}
.thread-post .thread-post a:hover, .thread-post .thread-post a:active, .thread-post .thread-post a:focus {
  color: #049696;
  text-decoration: underline;
}
.thread-post__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #b39b64;
}
.thread-post__aside {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #b39b64;
  padding: 10px 0;
}
.thread-post__author {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  float: none;
  padding: 0;
  margin: 0 0 5px;
}
.thread-post__author-name, .thread-post__author-byline, .thread-post__author-join-date {
  margin: 0;
  padding: 0;
}
.thread-post__author-name {
  padding-left: 10px;
  font-weight: 600;
  color: #005555;
}
.thread-post__date {
  font-size: 1rem;
  font-weight: 500;
  width: 45%;
  float: none;
  padding: 0 0 0 10px;
}
.thread-post__content {
  display: inline-block;
  width: 100%;
}
.thread-post__content-text {
  font-size: 1.125rem;
  padding: 10px;
  border-bottom: 1px solid #b39b64;
}
.thread-post__signature {
  font-size: 1.125rem;
  padding: 10px;
  overflow: hidden;
}
.thread-post__signature img {
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .result-card__content {
    width: 65%;
  }
  .result-card__aside {
    width: 34%;
  }
}
@media screen and (min-width: 640px) {
  .title {
    font-size: 3rem;
  }

  .search__button {
    width: 320px;
  }

  .result-card__content {
    width: 70%;
  }
  .result-card__aside {
    width: 29.25%;
  }

  .thread-post__author {
    width: 59%;
    float: right;
    text-align: right;
    padding-right: 10px;
    font-size: 1.125rem;
    margin: 0;
  }
  .thread-post__author-name, .thread-post__author-byline, .thread-post__author-join-date {
    margin: 0;
    padding: 0;
  }
  .thread-post__date {
    width: 35%;
    float: left;
    padding-left: 10px;
    font-size: 1.125rem;
  }
}

/*# sourceMappingURL=index.css.map */
